<main role="main" class="container">
  <div
    class="d-flex align-items-center p-3 my-3 text-white-50 bg-success rounded shadow-sm"
  >
    <div class="lh-100">
      <h3 class="mb-0 text-white lh-100">Lista de países</h3>
    </div>
  </div>
  <div>
    Gravar a lista em:
    <button (click)="exportExcel()" class="btn btn-sm btn-primary mx-1">
      Excel
    </button>
    <button (click)="exportCSV()" class="btn btn-sm btn-primary mx-1">
      CSV
    </button>
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <div *ngFor="let country of countries" class="media text-muted pt-3">
      <svg
        class="bd-placeholder-img mr-2 rounded"
        width="32"
        height="32"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
        role="img"
        aria-label="Placeholder: 32x32"
      >
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#007bff"></rect>
        <text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
      </svg>
      <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark"
          >{{ country.name }}
          <a
            class="btn btn-sm btn-info"
            target="_blank"
            href="{{ country.flag }}"
            >Ver Bandeira</a
          >
        </strong>

        <strong>Nome Nativo:</strong>
        {{ country.nativeName }}, <strong>Capital:</strong>
        {{ country.capital }}, <strong>Região:</strong> {{ country.region }},
        <strong>Sub Região:</strong>
        {{ country.subregion }}, <strong>População:</strong>
        {{ country.population }}, <strong>Área:</strong> {{ country.area }},
        <strong>Fuso Horário:</strong> {{ country.timezones }}
      </p>
    </div>
  </div>
</main>
